html {
  background: #020100 url(../images/book.png) no-repeat center center fixed; 
  background-size: contain;
  margin: 20px 20px 20px 20px;
}
/*OPENING QUOTE*/
@media all and (min-width: 150px) {
  #testText{
    font-size: 2.3vw;
    -webkit-text-stroke: 0.1vw #EFA42F;
    -webkit-text-fill-color: #000000;
    font-family: serif;
    font-weight: bold;
    letter-spacing: 0.40em;
    margin: 15px;
  }
}

/*HOME PAGE -- BUTTON PANEL*/

.create-div, .view-div {
  display: inline-block;
}
.extend-button {
  /*border-top-right-radius: 0px !important;*/
  border-bottom-left-radius: 0px !important; 
  border: 1.6px groove red !important;
  border-bottom: none !important;
  box-shadow: 0px 0px 20px 3px rgba(255, 165, 0, 0.4);
}
#create-btn, #view-btn {
  position: relative;
  background-color: orange;
  border: 2px solid red;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  cursor: pointer;
  color: black;
  padding: 10px 0px 10px 0px;
  margin: 0px 20px 0px 0px;
  text-align: center;
  font-family: serif;
  font-weight: bold;
  font-size: 16px;
  width: 105px;
}
.create-options, .view-options {
  display: none;
  position: absolute;
  background-color: #ffa500;
  border: 1.6px groove red;
  border-top: none;
  border-bottom-left-radius: 10px;
  min-width: 102px;
  box-shadow: 0px 0px 20px 3px rgba(255, 165, 0, 0.4);
  z-index: 1;
  text-align: left;
  cursor: pointer;
}
.create-options div, .view-options div {
  padding: 7px;
  font-style: serif;
  text-align: center;
}
.create-options div:hover, .view-options div:hover {
  background-color: #ef9b00;
  border-top: 0.5px groove red;
  border-bottom: 0.5px groove red;
  border-right: 0.5px groove red;
  border-bottom-left-radius: 8px;
  border-top-right-radius: 5px;
}

/*DATE PICKER PERSONALISATION*/
// .ui-datepicker-header {
//   color: orange;
//   font-weight: bold;
//   -webkit-text-stroke: 0.2px red;
//   } 
// .ui-datepicker-prev {
//   padding-right: 10px;
// }
// .ui-datepicker-prev:hover, .ui-datepicker-prev:hover, .ui-datepicker-next:hover, .ui-datepicker-next:hover {
//   text-decoration: underline;
//   cursor: pointer;
// }
.ui-datepicker-title {
  color: white;
  -webkit-text-stroke: 0.2px red;
  font-weight: bold;
}
.ui-datepicker-calendar {
  color: orange;
  -webkit-text-stroke: 0.2px red;
}
a.ui-state-default {
  color: white;
  text-decoration: none;
}
/*.ui-datepicker-calendar a {
  text-decoration: none;
  color: white;s
  &:hover
}*/
/*disabling default inheritance*/
.button-panel button:focus {
  outline: none;
}

/********************************************************************************/
/*.test-image {
  height: 100%;
  display: block;
  margin: 0 auto;
  z-index: -1;
}*/
.hi {
  padding-bottom: 20px;
}

.ui-datepicker .ui-datepicker-title {
  line-height: 1.3em;
  text-align: center;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
  color: white;
  font-weight: bold;
  // top: 2px;
  // width: 1.8em;
  // height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
  display: inline-block;
}
.ui-datepicker .ui-datepicker-header {      // header padding
  padding: .2em 0;
}
.ui-datepicker .ui-datepicker-next {        // next
    float: right;
}